<ion-content class="login-screen">
  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-header">
        <!-- Aquí va tu logo -->
        <img src="assets/icon/COPU.png" alt="Logo de Docu" class="login-logo-img" />

        <h2>Bienvenido a Docu</h2>
        <p>Gestiona tus documentos de manera inteligente</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
        <!-- campo del usuario con icono-->
        <ion-item>
          
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="username" type="email"></ion-input>
        </ion-item>
        <!-- campo de la contraseña con icono-->
        <ion-item>
          
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="login-btn" [disabled]="loginForm.invalid">
          INICIAR SESIÓN
        </ion-button>
      </form>

      <div class="login-footer">
        <p>¿No tienes cuenta? <a href="#">Regístrate aquí</a></p>
      </div>
    </div>
  </div>
</ion-content>
